*{
    margin: 0;
    padding: 0;
    
   
}

.bg-container{
    background: url(https://images.unsplash.com/photo-1544488069-1703a388a38b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGJvaXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60) no-repeat center center/cover;
    height: 100vh;
    box-shadow: inset 0 0 100px #000;
    /* margin-top: -25px; */
    
  
    
}

.nav a{
    font-size: 24px;
    color:black;
   
}

.nav a:hover {
    border-top: 2px solid blue;
}

.text-show{
    margin-top: 13%;
}

.bold-text{
    font-size: 70px;
    font-weight: bolder;
    background-color: rgb(37, 35, 35,0.9);
    line-height: 102px;
}

.medium-text {
    font-weight: bolder;
    /* background-color: rgb(37, 35, 35,0.9); */
}

.portfolio{
    background-color: black;
    height: 180vh;
}

.card {
    margin-top: 20px;
   
}

.card-text{
    color: black;
}

.container {
    background-color: black;
    height: 90vh;
}
.card-body {
    height: 200px;
}
.icon {
    color:blueviolet;
    background-color: cornflowerblue;
    margin-left: 100px;
    width: 27%;
    height: 20mm;
    border-radius: 50%;
    padding-top: 4mm;
    padding-left: 8px;
}
.card-body {
    text-align: center;
}
.mb-3 {
    margin-left:150px;
    margin-right: 100px;
    float: left;
}
.container {
    height:100hv;
    background-color: black;
}
h3 {
    color: blanchedalmond;
}
.contact {
    float: right;
    color: rgb(117, 107, 107);
    margin-right: 150px;
}
.form-control {
    tab-size: 200px;
}
.contact >h5 {
    color: rgb(183, 236, 130);
}
.card-body >h3 {
    color: black;
}
.mb-3 >button {
    border-radius: 30px;
}
.form-control input {
    width: 300px;
}